* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: DM Sans;
    font-size: 62.5%;
}

:root {
    --Bitcoin_Orange: #F7931A;
    --Soft_orange: #FFE9D5;
    --Secundary_blue: #1A9AF7;
    --Soft_blue: #E7F5FF;
    --Warm_black: #201E1C;
    --Warm_black1: #282623;
    --Grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
}


/*********************************************/

.header--container {
    background: linear-gradient(207.8deg, var(--Warm_black) 16.69%, var(--Bitcoin_Orange) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}

.header--container img {
    width: 151px;
    height: 24px;
    margin-top: 81px;
    align-items: center;
}

.header--container h1 {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just_white);
}

.header--container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 50px;
    color: var(--Soft_orange);
}

.header--buttom {
    position: absolute;
    top: 305px;
    left: calc(50% - 115px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off_white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--Warm_black);
}

.header--buttom span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../img/mdi_keyboard_arrow_down.svg);
}

.centro {
    text-align: center;
}

.seccion-de-ayuda {
    background-color: var(--Warm_black);
    padding: 64px 16px;
}
.seccion-de-ayuda p {
    color: var(--Grey);
    font-size: 1.4rem;
}
.seccion-de-ayuda h2,
h3 {
    color: var(--just_white);
}
.seccion-de-ayuda h2{
    font-size: 2.4rem;
}
.seccion-de-ayuda h3{
    font-size: 1.8rem;
}

.seccionMoneda__tablas p{
    color: var(--Grey);
    font-size: 1.4rem;
}
.comisiones p{
    background-color: var(--Secundary_blue);
}

.seccion-de-ayuda .bloque {
    background-color: var(--Warm_black1);
    margin-bottom: 16px;
    padding: 22px 16px;
    border-radius: 6px;
}
/***Sección tasas de cambio***/
.seccion-tasas-de-cambio img{
    background: linear-gradient(207, 8deg, #201E1C 16.69%, #F7931A 100%);
    width: 192px;
    height: 192px;
}

.tasas-de-cambio-text {
    margin: 24px 0px 17px 0px;
}
.seccion-tasas-de-cambio{
    background-color: var(--off_white);
    padding: 64px 16px;
}

.seccion-tasas-de-cambio h2 {
    font-size: 24px;
    margin: 24px 0px 17px 0px;
}

.seccion-tasas-de-cambio p {
    color: var(--Grey);
    font-size: 14px;
}

/***Sección monedas***/
.seccion-monedas{
    background-color: var(--off_white);
    padding-bottom: 64px;
}
.seccion-monedas h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
    color: var(--Bitcoin_Orange);
}
.seccion-monedas p{
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    width: 115px;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--Soft_orange);
}
.comisiones p{
    background-color: var(--Soft_blue);
}
.table__container{
    position: relative;
    justify-content: center;
    display: flex;
    width: 70%;
    margin: 0 auto 16px auto;
    min-width: 226px;
    max-width: 500px;
    border-radius: 8px;
    background-color: var(--just_white);
}
.table__container tr{
    height: 100%;
    width: 100%;
}
.data--tittle{
    width: 50%;
    padding: 10px 12px;
    margin: 0 10px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
    color: var(--Grey);
    line-height: 1.9rem;
}
.data--value{
    width: 50%;
    padding: 11px 12px;
    margin: 0 10px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    text-align: center;
    color: #757575;
}
.comisiones h3{
    color: var(--Secundary_blue);
}
.arrow__down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../img/arrow-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.arrow__up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../img/arrow-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.arrow__right{
    background-image: url("../img/arrow-right.svg");
}


.seccion-conocelo-hoy{
    height: 387px;
    min-width: 320px;
    background-image: url(../img/bitcoinbaby\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.seccion-conocelo-hoy h2 {
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just_white);
}

footer{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--Bitcoin_Orange);
}
footer a{
    font-size: 1.4rem;
    color: var(--just_white);
    text-decoration: none;
    line-height: 25px;
}
footer li{
    list-style: none;
}
footer img{
    display: block;
    margin: 0 auto;
}
footer p{
    margin-top: 8px;
    font-size: .8rem;
    color: var(--just_white);
}
.main-plans-container {
    width: 100%;
    min-height: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.main-plans-container h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--Warm_black);
}
.main-plans-container p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider {
    display: flex;
    gap: 50px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--slider::-webkit-scrollbar{
    display: none;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 0 0;
    padding: 0 15px;
    background-color: var(--just_white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--card .recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    margin: 0;
    padding: 6px;
    background-color: var(--Bitcoin_Orange);
    border-radius: 8px;
    color: var(--just_white);
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plans-container--card .plan-card--price {
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}
.plans-container--card .plan-card--saving {
    padding-top: 0;
}
.plan-card--ca {
    width: 151px;
    height: 48px;
    margin-top: 20px;
    background: var(--off-white);
    border: 2px solid var(--Bitcoin_Orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/arrow-right\ plans.svg");
    vertical-align: text-bottom;
}