@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: DM Sans;
    font-size: 62.5%;
}
:root {
    --Bitcoin_Orange: #F7931A;
    --Soft_orange: #FFE9D5;
    --Secundary_blue: #1A9AF7;
    --Soft_blue: #E7F5FF;
    --Warm_black: #201E1C;
    --Warm_black1: #282623;
    --Grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
}
/*********************************************/
.header--container{
    background: linear-gradient(207.8deg, var(--Warm_black) 16.69%, var(--Bitcoin_Orange) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}
.header--container img{
    width: 151px;
    height: 24px;
    margin-top: 81px;
    align-items: center;
}
.header--container h1{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just_white); 
}
.header--container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 50px;
    color: var(--Soft_orange);
}
.header--buttom{
    position: absolute;
    top: 305px;
    left: calc(50% - 115px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off_white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--Warm_black);
}
.header--buttom span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../img/mdi_keyboard_arrow_down.svg);
}

.centro{
    text-align: center;
}
.seccion-de-ayuda{
    background-color: var(--Warm_black);
    padding: 64px 16px;
}
.seccion-de-ayuda h2,h3{
    color: var(--just_white);
}
.seccion-de-ayuda h2{
    font-size: 24px;
}
.seccion-de-ayuda h3{
    font-size: 18px;
}
.seccion-de-ayuda p{
    color: var(--Grey);
    font-size: 14px;
}
.seccion-de-ayuda .bloque{
    background-color: var(--Warm_black1);
    margin-bottom: 16px;
    padding: 22px 16px;
    border-radius: 6px;
}
/***Sección tasas de cambio***/
.seccion-tasas-de-cambio img{
    background: linear-gradient(207, 8deg, #201E1C 16.69%, #F7931A 100%);
    width: 192px;
    height: 192px;
}
.tasas-de-cambio-text{
    margin: 24px 0px 17px 0px;
}
.seccion-tasas-de-cambio{
    background-color: var(--Warm_white);
    padding: 64px 16px;
}
.seccion-tasas-de-cambio h2{
    font-size: 24px;
    margin: 24px 0px 17px 0px;
}
.seccion-tasas-de-cambio p{
    color: var(--Grey);
    font-size: 14px;
}
/***Sección monedas***/
.tabla-monedas h3{
    color: #F7931A;
    font-size: 16px;
}
.tabla-comisiones h3{
    color: #1A9AF7;
    font-size: 16px;
}
.seccion-monedas table{
    border: black 1px;
    width: 197px;
    height: 159px;
}
.seccion-monedas table th{
    color: #BABABA;
    font-size: 16px;
    padding: 10px 12px;
}
.seccion-monedas table td{
    color: #BABABA;
    font-size: 12px;
    padding: 10px 12px;
}
.Icon{
    width: 3px;
    height: 3px;
}
/*********************************************/
.seccion-conocelo-hoy{
    height: 387px;
    min-width: 320px;
    background-image: url(../img/bitcoinbaby\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.seccion-conocelo-hoy h2{
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just_white);
}