@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(252, 252, 252); */
}

:root {
    --Bitcoin_Orange: #F7931A;
    --Soft_orange: #FFE9D5;
    --Secundary_blue: #1A9AF7;
    --Soft_blue: #E7F5FF;
    --Warm_black: #201E1C;
    --Warm_black1: #282623;
    --Grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
    --paddingSecciones: 60px 0;
    --padding-container: 80px 0;
    --marginElementos: 40px;
}

body {
    font-family: DM Sans;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSecciones);
}

.hero {
    --padding-container: 0;
    height: 353px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    outline: 1px solid rgb(252, 252, 252);
}

.hero__main {
    display: flex;
    flex-direction: column;
    margin: var(--marginElementos);
    /*  outline: 1px solid rgba(5, 248, 25, 0.89); */
}

.hero__img {
    display: flex;
    justify-content: center;
    /* outline: 1px solid rgb(252, 252, 252); */
}

.hero__img p {
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.3rem;
    color: var(--Bitcoin_Orange);
}

.hero__texts h1 {
    position: absolute;
    width: 632px;
    height: 84px;
    left: calc(50% - 632px/2);
    top: calc(50% - 84px/2 - 194.43px);
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: var(--just_white);
}

.hero__texts p {
    position: absolute;
    width: 632px;
    height: 48px;
    left: calc(50% - 632px/2);
    top: calc(50% - 48px/2 - 96.43px);
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--Soft_orange);
}

@media screen and (max-width: 800px) {
    .hero__texts h1 {}
    .hero__texts p {}
}

@media screen and (max-width: 550px) {
    .hero__texts h1 {
        font-size: 1.5rem;
    }
}