.header--container{
  height: 440px;
}
.header--container h1{
  font-size: 4rem;
  line-height: 4.2rem;
}
.header--container p{
  margin-bottom: 102px;
  font-size: 2rem;
}
.header--buttom{
  top: 415px;
}
.seccion-monedas{
  display: flex;
}
.tasas-de-cambio-text h2{
  font-size: 4rem;
}
.tasas-de-cambio-text p{
  font-size: 2rem;
}

.seccionModeda__tablas{
  max-width: 218px;
  margin: 0 auto;
}

.bloque{
  display: inline-block;
  width: 49.8%;
  justify-content: center;
}
.centro h2{
  font-size: 4rem;
}
.centro p{
  font-size: 2rem;
}

.seccion-conocelo-hoy{
  height: 300px;
}
.seccion-conocelo-hoy h2{
  font-size: 4rem;
}

.main-plans-container h2{
  font-size: 4rem;
}
.main-plans-container h2+p{
  font-size: 2rem;
}
.plans-container--slider{
  justify-content: center;
}
footer li{
  line-height: 2.4rem;
}
footer a{
  font-size: 2rem;
}
footer img{
  width: 105px;
}
footer p{
  font-size: 1.8rem;
}